@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body{
  background-color: #0A0C13;

}
.hero-con{
 
  background-color: #0A0C13;
}
.linear-color{
  background: linear-gradient(to bottom right, #3481F9, #96C5F8);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
.hero-btn-bg-color{
  background: linear-gradient(to bottom right, #3481F9, #96C5F8);

}